<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon animated -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Aespi Botz</title>
    <link href="https://inirey.github.io/lolhuman/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://inirey.github.io/lolhuman/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://inirey.github.io/lolhuman/css/default.css" rel="stylesheet">
    <link href="https://inirey.github.io/lolhuman/css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <i class="fa fa-smile-beam fa-2x"></i>
                <div class="sidebar-brand-text mx-3">ASP APIs</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloader</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloader & Media</h6>
			              <a class="collapse-item" target="_blank" href="/api/download/ytmp4?url=https://youtu.be/6l5V3BWDcMw&apikey=AespiBotz" target="_blank" >Youtube Video</a>
			              <a class="collapse-item" target="_blank" href="/api/download/ytmp3?url=https://youtu.be/6l5V3BWDcMw&apikey=AespiBotz" target="_blank" >Youtube Audio</a>
			              <a class="collapse-item" target="_blank" href="/api/download/fbdown?url=https://www.facebook.com/UstazAzharIdrusFansClub/videos/813224618838631&apikey=AespiBotz" target="_blank" >Facebook</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomText" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-music"></i>
                        <span>Sound Of Text</span>
                    </a>
                    <div id="collapseRandomText" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Bahasa</h6>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=id-ID&apikey=AespiBotz">Indonesian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=en-US&apikey=AespiBotz">English (United States)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ja-JP&apikey=AespiBotz">Japanese (Japan)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fr-FR&apikey=AespiBotz">French</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=fil-PH&apikey=AespiBotz">Filipino</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=my&apikey=AespiBotz">Burmese (Myanmar)</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=de-DE&apikey=AespiBotz">German</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=it-IT&apikey=AespiBotz">	Italian</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=jko-KR&apikey=AespiBotz">Korean</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=th-TH&apikey=AespiBotz">Thai</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=hi-IN&apikey=AespiBotz">Hindi</a>
                            <a class="collapse-item" target="_blank" href="api/soundoftext?text=hi&lang=ru-RU&apikey=AespiBotz">Russian</a>
                        </div>
                    </div>
                </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text maker</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Textprome Features</h6>
                        <a class="collapse-item" href="/api/textpro/magma?text=Aespibotz&apikey=AespiBotz" target="_blank" >magma</a>
<a class="collapse-item" href="/api/textpro/hallowen-text?text=Aespibotz&apikey=AespiBotz" target="_blank" >hallowen effect</a>
<a class="collapse-item" href="/api/textpro/neon-light?text=Aespibotz&apikey=AespiBotz" target="_blank" >Neon light</a>
<a class="collapse-item" href="/api/textpro/broken-glass?text=Aespibotz&apikey=AespiBotz" target="_blank" >broken glass</a>
<a class="collapse-item" href="/api/textpro/art-papper?text=Aespibotz&apikey=AespiBotz" target="_blank" >Art papper</a>
<a class="collapse-item" href="/api/textpro/glossy?text=Aespibotz&apikey=AespiBotz" target="_blank" >glossy</a>
<a class="collapse-item" href="/api/textpro/water-color?text=Aespibotz&apikey=AespiBotz" target="_blank" >water color</a>
<a class="collapse-item" href="/api/textpro/multi-color?text=Aespibotz&apikey=AespiBotz" target="_blank" >multi color</a>
<a class="collapse-item" href="/api/textpro/neon-devil?text=Aespibotz&apikey=AespiBotz" target="_blank" >Neon devil</a>
<a class="collapse-item" href="/api/textpro/sky-text?text=Aespibotz&apikey=AespiBotz" target="_blank" >sky text</a>
<a class="collapse-item" href="/api/textpro/luxury?text=Aespibotz&apikey=AespiBotz" target="_blank" >luxury</a>
<a class="collapse-item" href="/api/textpro/vintage?text=Aespibotz&text2=canszz&apikey=AespiBotz" target="_blank" >vintage</a>
<a class="collapse-item" href="/api/textpro/writing?text=Aespibotz&apikey=AespiBotz" target="_blank" >Writing</a>
<a class="collapse-item" href="/api/textpro/engraved?text=Aespibotz&apikey=AespiBotz" target="_blank" >Engraved</a>
<a class="collapse-item" href="/api/textpro/glue-text?text=Aespibotz&apikey=AespiBotz" target="_blank" >Glue text</a>
<a class="collapse-item" href="/api/textpro/pornhub?text=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >porn HUB</a>
<a class="collapse-item" href="/api/textpro/holograpic?text=Aespibotz&apikey=AespiBotz" target="_blank" >holograpic</a>
<a class="collapse-item" href="/api/textpro/deluxe-silver?text=Aespibotz&apikey=AespiBotz" target="_blank" >deluxe silver</a>
<a class="collapse-item" href="/api/textpro/fabric?text=Aespibotz&apikey=AespiBotz" target="_blank" >Fabric</a>
<a class="collapse-item" href="/api/textpro/wicker?text=Aespibotz&apikey=AespiBotz" target="_blank" >wicker</a>
<a class="collapse-item" href="/api/textpro/larva?text=Aespibotz&apikey=AespiBotz" target="_blank" >Larva</a>
<a class="collapse-item" href="/api/textpro/toxic-bokeh?text=Aespibotz&apikey=AespiBotz" target="_blank" >Toxic</a>
<a class="collapse-item" href="/api/textpro/stroberi?text=Aespibotz&apikey=AespiBotz" target="_blank" >strobery</a>
<a class="collapse-item" href="/api/textpro/koi?text=Aespibotz&apikey=AespiBotz" target="_blank" >koi pish</a>
<a class="collapse-item" href="/api/textpro/bread?text=Aespibotz&apikey=AespiBotz" target="_blank" >Bread</a>
<a class="collapse-item" href="/api/textpro/horor-blood?text=Aespibotz&apikey=AespiBotz" target="_blank" >horor blood</a>
<a class="collapse-item" href="/api/textpro/honey?text=Aespibotz&apikey=AespiBotz" target="_blank" >honey</a>
<a class="collapse-item" href="/api/textpro/ice?text=Aespibotz&apikey=AespiBotz" target="_blank" >Ice</a>
<a class="collapse-item" href="/api/textpro/rusty?text=Aespibotz&apikey=AespiBotz" target="_blank" >Rusty effect</a>
             <a class="collapse-item" href="/api/textpro/captain?text=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >captain Amerika</a>
            <a class="collapse-item" href="/api/textpro/3d-gradient?text=Aespibotz&apikey=AespiBotz" target="_blank" >gradien</a>
            <a class="collapse-item" href="/api/textpro/christmas?text=Aespibotz&apikey=AespiBotz" target="_blank" >christmas</a>
            <a class="collapse-item" href="/api/textpro/drop-water?text=Aespibotz&apikey=AespiBotz" target="_blank" >drop water</a>
            <a class="collapse-item" href="/api/textpro/black-pink?text=Aespibotz&apikey=AespiBotz" target="_blank" >blackpink</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf?text=Aespibotz&text2&apikey=AespiBotz" target="_blank" >Logo Wolf</a>
            <a class="collapse-item" href="/api/textpro/natural-leavest?text=Aespibotz&apikey=AespiBotz" target="_blank" >Natural leavest</a>
            <a class="collapse-item" href="/api/textpro/logo-wolf2?text=Aespibotz&text2&apikey=AespiBotz" target="_blank" >Logo Wolf 2</a>
            <a class="collapse-item" href="/api/textpro/harry-potter?text=Aespibotz&apikey=AespiBotz" target="_blank" >Harry Potter</a>
            <a class="collapse-item" href="/api/textpro/3dstone?text=Aespibotz&apikey=AespiBotz" target="_blank" >3D stone</a>
            <a class="collapse-item" href="/api/textpro/1917?text=Aespibotz&apikey=AespiBotz" target="_blank" >1917</a>
            <a class="collapse-item" href="/api/textpro/thunder2?text=Aespibotz&apikey=AespiBotz" target="_blank" >Thunder 2</a>
            <a class="collapse-item" href="/api/textpro/space?text=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >Space</a>
            <a class="collapse-item" href="/api/textpro/joker-logo?text=Aespibotz&apikey=AespiBotz" target="_blank" >Joker logo</a>
            <a class="collapse-item" href="/api/textpro/hallowen?text=Aespibotz&apikey=AespiBotz" target="_blank" >hallowen</a>
            <a class="collapse-item" href="/api/textpro/blood?text=Aespibotz&apikey=AespiBotz" target="_blank" >Blood text</a>
            <a class="collapse-item" href="/api/textpro/astone?text=Aespibotz&apikey=AespiBotz" target="_blank" >Astone</a>
            <a class="collapse-item" href="/api/textpro/grafity-text?text=Aespibotz&apikey=AespiBotz" target="_blank" >Grafity text</a>
            <a class="collapse-item" href="/api/textpro/grafity-text2?text=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >Grafity text2</a>
            <a class="collapse-item" href="/api/textpro/ninja-logo?text=Aespibotz&text2=canszz&apikey=AespiBotz" target="_blank" >Ninja logo</a>
            <a class="collapse-item" href="/api/textpro/lion-logo?text=Aespibotz&text2=cansz&apikey=AespiBotz" target="_blank" >lion logo</a>
            <a class="collapse-item" href="/api/textpro/avengers-logo?text=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >Avengers</a>
            <a class="collapse-item" href="/api/textpro/marvel-logo2?text=Aespibotz&text2=cans" target="_blank" >Marvel studio</a>
            <h6 class="collapse-header">Photoxry Features</h6>
                <a class="collapse-item" href="/api/photooxy/army?text=Aespibotz&apikey=AespiBotz" target="_blank" >Army text</a>
                        <a class="collapse-item" href="/api/maker/matrix?text=Aespibotz&apikey=AespiBotz" target="_blank" >matrix</a>
                        <a class="collapse-item" href="/api/maker/pubglogo?text1=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >PUBG</a>
                        <a class="collapse-item" href="/api/maker/breakwall?text=Aespibotz&apikey=AespiBotz" target="_blank" >breakwall</a>
                        <a class="collapse-item" href="/api/photooxy/butterfly?text=Aespibotz&apikey=AespiBotz" target="_blank" >butterfly</a>
                        <a class="collapse-item" href="/api/photooxy/naruto?text1=Aespibotz&apikey=AespiBotz" target="_blank" >naruto</a>
                        <a class="collapse-item" href="/api/photooxy/smoke?text1=Aespibotz&apikey=AespiBotz" target="_blank" >smoke text</a> 
                        <a class="collapse-item" href="/api/photooxy/burn-papper?text=Aespibotz&apikey=AespiBotz" target="_blank" >burn papper</a>
                        <a class="collapse-item" href="/api/photooxy/love-message?text=Aespibotz&apikey=AespiBotz" target="_blank" >love message</a>
                        <a class="collapse-item" href="/api/photooxy/love-text?text=Aespibotz&apikey=AespiBotz" target="_blank" >love text</a>
                        <a class="collapse-item" href="/api/photooxy/coffe-cup?text=Aespibotz&apikey=AespiBotz" target="_blank" >coffe cup</a>
                        <a class="collapse-item" href="/api/photooxy/double-heart?text=Aespibotz&apikey=AespiBotz" target="_blank" >double heart</a>
                        <a class="collapse-item" href="/api/photooxy/glitch?text=Aespibotz&text2=cans&apikey=AespiBotz" target="_blank" >glitch effect</a>
                        <a class="collapse-item" href="/api/photooxy/message-under-grass?text=Aespibotz&apikey=AespiBotz" target="_blank" >message under grass</a>                                                            
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-laptop"></i>
                    <span>Game</span>
                </a>
                <div id="collapseGame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Game API</h6>
                        <a class="collapse-item" target="_blank" href="/api/kuis/tebakGambar?apikey=AespiBotz" target="_blank" >Tebak gambar</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebaklirik?apikey=AespiBotz" target="_blank" >Tebak lirik</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakkata?apikey=AespiBotz" target="_blank" >Tebak kata</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakkalimat?apikey=AespiBotz" target="_blank" >Tebak kalimat</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebaktebakan?apikey=AespiBotz" target="_blank" >Tebak tebakan</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakjenaka?apikey=AespiBotz" target="_blank" >Tebak jenaka</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakbendera?apikey=AespiBotz" target="_blank" >Tebak bendera</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakkimia?apikey=AespiBotz" target="_blank" >Tebak kimia</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakchara?apikey=AespiBotz" target="_blank" >Tebak chara</a>
                        <a class="collapse-item" target="_blank" href="/api/kuis/caklontong?apikey=AespiBotz" target="_blank" >Cak lontong</a>
                        <a class="collapse-item" target="_blank" href="/api/game/family100?apikey=AespiBotz" target="_blank" >family 100</a>
                  </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-star-and-crescent"></i>
                    <span>Islamic</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Islamic Api</h6>
                        <a class="collapse-item" target="_blank" href="/api/muslim/asmaulhusna?apikey=AespiBotz" target="_blank" >Asmaul Husna</a>
                        <a class="collapse-item" target="_blank" href="/api/muslim/jadwalshalat?kota=banyuwangi&apikey=AespiBotz" target="_blank" >jadwal shalat </a>
                        <a class="collapse-item" target="_blank" href="/api/muslim/hadits?kitab=bukhari&nomor=52&apikey=AespiBotz" target="_blank" >Hadist sahih</a>
                         <a class="collapse-item" target="_blank" href="/api/muslim/quran?surah=1&ayat=2&apikey=AespiBotz" target="_blank" >Al Qur'an</a>
                        <a class="collapse-item" target="_blank" href="/api/muslim/kisahnabi?nabi=muhammad&apikey=AespiBotz" target="_blank" >Kisah Nabi</a>
                      </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSimi" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-smile"></i>
                    <span>Simi simi</span>
                </a>
                <div id="collapseSimi" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Simi simi api</h6>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi?text=assalamualaikum&apikey=AespiBotz" target="_blank" >Simi IND</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-ind2?text=hallo%20kak&apikey=AespiBotz" target="_blank" >Simi IND2</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi2?text=how%20are%20you&apikey=AespiBotz" target="_blank" >Simi EN</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-en2?text=Hi%20friend%20&apikey=AespiBotz" target="_blank" >Simi EN2</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi3?text=arigatou&apikey=AespiBotz" target="_blank" >Simi JPN</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-jp2?text=arigatou&apikey=AespiBotz" target="_blank" >Simi JPN2</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi4?text=assalamualaikum ya aqhi&apikey=AespiBotz" target="_blank" >Simi ARB</a>
                        <a class="collapse-item" target="_blank" href="/api/fun/simisimi-ar2?text=la%20tahzan&apikey=AespiBotz" target="_blank" >Simi ARB2</a>
                  </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseprimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-star"></i>
                    <span>primbon</span>
                </a>
                <div id="collapseprimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Primbon Api</h6>              
                        <a class="collapse-item" target="_blank" href="/api/primbon/artimimpi?text=bangkrut&apikey=AespiBotz" target="_blank" >Arti mimpi</a>
                        <a class="collapse-item" target="_blank" href="/api/primbon/artinama?text=Ariel&apikey=AespiBotz" target="_blank" >Arti nama</a>
                  </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomimage" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-image"></i>
                    <span>Random image</span>
                </a>
                <div id="collapseRandomimage" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Random image</h6>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/jeni?apikey=AespiBotz">wallhp jeni blpk </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/jiso?apikey=AespiBotz">wallhp jisso blpkl </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/cecan2?apikey=AespiBotz">wallhp cecan </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/cogan2?apikey=AespiBotz">wallhp cogan </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/satanic?apikey=AespiBotz">wallhp satanic </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/katakata?apikey=AespiBotz">wallhp quotes </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/pentol?apikey=AespiBotz">wallhp pentol </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/kartun?apikey=AespiBotz">wallhp cartoon </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/tatasurya?apikey=AespiBotz">wallhp planet </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/cyberspace?apikey=AespiBotz">wallhp cyberspace </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/gaming?apikey=AespiBotz">wallhp gaming </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/islami?apikey=AespiBotz"> wallhp islami </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/programing?apikey=AespiBotz"> wallhp programing </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/teknologi?apikey=AespiBotz"> wallhp teknologi </a>
                  <a class="collapse-item" target="_blank" href="/api/wallpaper/mountain?apikey=AespiBotz"> wallhp mountain </a>
                             <a class="collapse-item" target="_blank" href="/api/wallpaper/ryujin?apikey=AespiBotz" target="_blank" >Random Ryujin ityz</a>
		   <a class="collapse-item" target="_blank" href="/api/wallpaper/rose?apikey=AespiBotz" target="_blank" >Random rose blpk</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/justina?apikey=AespiBotz" target="_blank" >Random justina xie</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/random/blackpink?apikey=AespiBotz" target="_blank" >Random blackpink</a>                        
           <a class="collapse-item" target="_blank" href="/api/wallpaper/doraemon?apikey=AespiBotz" target="_blank" >Random Doraemon</a>                      
           <a class="collapse-item" target="_blank" href="/api/wallpaper/ppcouple?apikey=AespiBotz" target="_blank" >Random ppcouple</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/kpop?apikey=AespiBotz" target="_blank" >Random kpop</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/hekel?apikey=AespiBotz" target="_blank" >Random hekel</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/pubg?apikey=AespiBotz" target="_blank" >Random PUBG</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/cogan?apikey=AespiBotz" target="_blank" >Random cogan</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/cecan?apikey=AespiBotz" target="_blank" >Random cecan</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/aesthetic?apikey=AespiBotz" target="_blank" >Random Aesthetic</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/wallhp?apikey=AespiBotz" target="_blank" >Random wallhp aesthetic</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/anime?apikey=AespiBotz" target="_blank" >Random wallhp anime</a>
           <a class="collapse-item" target="_blank" href="/api/asupan?apikey=AespiBotz" target="_blank" >Random asupan</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/kucing?apikey=AespiBotz" target="_blank" >Random Kucing</a>
           <a class="collapse-item" target="_blank" href="/api/wallpaper/anjing?apikey=AespiBotz" target="_blank" >Random Anjing</a>
                    </div>
                </div>
                </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNsfw" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Nsfw</span>
                </a>
                <div id="collapseNsfw" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
            <h6 class="collapse-header">NSFW Features</h6>
            <a class="collapse-item" target="_blank" href="/api/wallpaper/nsfwloli?apikey=AespiBotz" target="_blank" >Nswf loli</a>
                       <a class="collapse-item" target="_blank" href="/api/nsfw/ahegao?apikey=AespiBotz" target="_blank" >nsfw ahegao</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/ass?apikey=AespiBotz" target="_blank" >nsfw ass</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/bdsm?apikey=AespiBotz" target="_blank" >Nswf bdsm</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/blowjob?apikey=AespiBotz" target="_blank" >nsfw blowjob</a>
		               <a class="collapse-item" target="_blank" href="/api/nsfw/cuckold?apikey=AespiBotz" target="_blank" >nsfw cuckold</a>
		               <a class="collapse-item" target="_blank" href="/api/nsfw/cum?apikey=AespiBotz" target="_blank" >nsfw cum</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/ero?apikey=AespiBotz" target="_blank" >nsfw ero</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/femdom?apikey=AespiBotz" target="_blank" >nsfw femdom</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/foot?apikey=AespiBotz" target="_blank" >nsfw foot</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/gangbang?apikey=AespiBotz" target="_blank" >nsfw gangbanh</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/glasses?apikey=AespiBotz" target="_blank" >nsfw glasses</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/hentai?apikey=AespiBotz" target="_blank" >nsfw hentai</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/gifs?apikey=AespiBotz" target="_blank" >nsfw gifs</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/jahy?apikey=AespiBotz" target="_blank" >nsfw jahy</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/manga?apikey=AespiBotz" target="_blank" >nsfw manga</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/masturbation?apikey=AespiBotz" target="_blank" >nsfw mstb</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/neko?apikey=AespiBotz" target="_blank" >nsfw neko</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/orgy?apikey=AespiBotz" target="_blank" >nsfw orgy</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/panties?apikey=AespiBotz" target="_blank" >nsfw panties</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/pussy?apikey=AespiBotz" target="_blank" >nsfw pussy</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/neko2?apikey=AespiBotz" target="_blank" >nsfw neko2</a>
		                <a class="collapse-item" target="_blank" href="/api/nsfw/tentacles?apikey=AespiBotz" target="_blank" >nsfw tentacles</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/thighs?apikey=AespiBotz" target="_blank" >nsfw things</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/yuri?apikey=AespiBotz" target="_blank" >nsfw yuri</a>
                        <a class="collapse-item" target="_blank" href="/api/nsfw/zettai?apikey=AespiBotz" target="_blank" >nsfw zettai</a>
          </div>
        </div>
      </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseImage" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-fw fa-cat"></i>
                    <span>Random Anime</span>
                </a>
                <div id="collapseImage" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Wibu</h6>
                        <a class="collapse-item" target="_blank" href="/api/random/cosplay?apikey=AespiBotz" target="_blank" >Random Cosplay</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/waifu?apikey=AespiBotz" target="_blank" >Waifu</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/waifu2?apikey=AespiBotz" target="_blank" >Waifu2</a>                       
<a class="collapse-item" target="_blank" href="/api/wallpaper/shota?apikey=AespiBotz" target="_blank" >shota</a>
		        <a class="collapse-item" target="_blank" href="/api/wallpaper/loli?apikey=AespiBotz" target="_blank" >anime loli</a>
	           <a class="collapse-item" target="_blank" href="/api/wallpaper/yotsuba?apikey=AespiBotz" target="_blank" >Random yotsuba</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shinomiya?apikey=AespiBotz" target="_blank" >Random shinomiya</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/yumeko?apikey=AespiBotz" target="_blank" >Random yumeko</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/tejina?apikey=AespiBotz" target="_blank" >Random tejina</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/chiho?apikey=AespiBotz" target="_blank" >Random chiho</a>
      <a class="collapse-item" target="_blank" href="/api/wallpaper/boruto?apikey=AespiBotz" target="_blank" >Random boruto</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/kaori?apikey=AespiBotz" target="_blank" >Random kaori</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shizuka?apikey=AespiBotz" target="_blank" >Random shizuka</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/kaga?apikey=AespiBotz" target="_blank" >Random kaga</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/kotori?apikey=AespiBotz" target="_blank" >Random kotori</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/mikasa?apikey=AespiBotz" target="_blank" >Random mikasa</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/akiyama?apikey=AespiBotz" target="_blank" >Random akiyama</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/gremory?apikey=AespiBotz" target="_blank" >Random gremory</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/isuzu?apikey=AespiBotz" target="_blank" >Random isuzu</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shina?apikey=AespiBotz" target="_blank" >Random shina</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/kagura?apikey=AespiBotz" target="_blank" >Random kagura</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/shinka?apikey=AespiBotz" target="_blank" >Random shinka</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/eba?apikey=AespiBotz" target="_blank" >Random eba</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/elaina?apikey=AespiBotz" target="_blank" >Random elaina</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/yuri?apikey=AespiBotz" target="_blank" >Random yuri</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/erza?apikey=AespiBotz" target="_blank" >Random erza</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/hinata?apikey=AespiBotz" target="_blank" >Random hinata</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/minato?apikey=AespiBotz" target="_blank" >Random minato</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/naruto?apikey=AespiBotz" target="_blank" >Random Naruto</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/sagiri?apikey=AespiBotz" target="_blank" >Random Sagiri</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/nezuko?apikey=AespiBotz" target="_blank" >Random nezuko</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/rize?apikey=AespiBotz" target="_blank" >Random rize</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/ana?apikey=AespiBotz" target="_blank" >Random Anna</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/deidara?apikey=AespiBotz" target="_blank" >Random Deidara</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/yuki?apikey=AespiBotz" target="_blank" >Random Yuki</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/ana?apikey=AespiBotz" target="_blank" >Random Anna</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/asuna?apikey=AespiBotz" target="_blank" >Random Asuna</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/ayuzawa?apikey=AespiBotz" target="_blank" >Random Ayuzawa</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/chitoge?apikey=AespiBotz" target="_blank" >Random Chitoge</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/emilia?apikey=AespiBotz" target="_blank" >Random Emilia</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/hestia?apikey=AespiBotz" target="_blank" >Random hestia</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/inori?apikey=AespiBotz" target="_blank" >Random inori</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/itachi?apikey=AespiBotz" target="_blank" >Random itachi</a>
<a class="collapse-item" target="_blank" href="/api/wallpaper/madara?apikey=AespiBotz" target="_blank" >Random Madara</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/sakura?apikey=AespiBotz" target="_blank" >Random sakura</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/sasuke?apikey=AespiBotz" target="_blank" >Random Sasuke</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/tsunade?apikey=AespiBotz" target="_blank" >Random Tsunade</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/onepiece?apikey=AespiBotz" target="_blank" >Random one piece</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/mobil?apikey=AespiBotz" target="_blank" >Random mobil</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/montor?apikey=AespiBotz" target="_blank" >Random montor</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/boneka-chucky?apikey=AespiBotz" target="_blank" >Random boneka chucky</a>
                                                <a class="collapse-item" target="_blank" href="/api/wallpaper/keneki?apikey=AespiBotz" target="_blank" >Random keneki</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/megumin?apikey=AespiBotz" target="_blank" >Random Megumin</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/toukachan?apikey=AespiBotz" target="_blank" >Random toukachan</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/akira?apikey=AespiBotz" target="_blank" >Random akira</a>
		                <a class="collapse-item" target="_blank" href="/api/wallpaper/itori?apikey=AespiBotz" target="_blank" >Random itori</a>
		                <a class="collapse-item" target="_blank" href="/api/wallpaper/kurumi?apikey=AespiBotz" target="_blank" >Random kurumi</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/miku?apikey=AespiBotz" target="_blank" >Random miku</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/pokemon?apikey=AespiBotz" target="_blank" >Random pokemon</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://wa.me/6282118022072">
                    <i class="fab fa-fw fa-whatsapp"></i>
                    <span>WhatsApp</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-success badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  INFO CENTER
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-info-circle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">November 12, 2022</div>
                    <span style="font-size:12px;">Ultah Ariel SP</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Oktober 13, 2022</div>
                    <span style="font-size:14px;">Rest Api Terbuat</span>
                  </div>
                </a>
              </div>
            </li>
            </ul>
  </nav>
                <!-- Sidebar -->

                    <!-- Container Fluid-->
                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                    <h3 style="margin-bottom: 0;"><i class="fas fa-ruler text-danger"></i>INFO</h3>
    
                    <div class="card-body mb-3">
                        <ol>
                            <li>Mohon Jangan Spam API Keys</li>
                            <li>Jika APIkeys Rusak Hubungi Owner</li>
                            <li>Semua Fitur Gratis Dek</li>
                            <li>Kalo Ga Sibuk Gw Tambahin Fitur Lagi</li>
                            <li>Subscribe YT ArielSP Sus</li>
                        </ol>
                    </div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor (Unique)</div>
                                            <div class="h5 mb-0 font-weight-bold">8372</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-user faa-ring animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Requests</div>
                                            <div class="h5 mb-0 font-weight-bold">8372</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar faa-wrench animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Ariel SP Sosial Media
                            <p>
                                <a href="https://youtube.com/ArielSPSus" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fa fa-fw fa-youtube"></i>&nbsp;YouTube</a>
                                <a href="https://wa.me/6282118022072" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;WhatsApp</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart faa-flash animated"></i> by
                        <a href="https://github.com/ArielSP-King" target="_blank" style="color: #fff;">AespiBotz</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://inirey.github.io/lolhuman/vendor/jquery/jquery.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://inirey.github.io/lolhuman/js/ruang-admin.min.js"></script>
</body>

</html>
